body{
    margin:0;
    font-family:Arial;
    background:#050816;
    color:white;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:30px;
}

h1{
    text-align:center;
    color:#00d4ff;
    margin-bottom:40px;
}

.tabs{
    display:flex;
    gap:10px;
    margin-bottom:30px;
}

.tab-btn{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#111827;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.tab-btn.active{
    background:#00d4ff;
    color:black;
}

.tab-content{
    display:none;
    background:#111827;
    padding:30px;
    border-radius:15px;
}

.tab-content.active{
    display:block;
}

input{
    width:100%;
    padding:15px;
    margin-top:15px;
    margin-bottom:20px;
    background:#0f172a;
    border:1px solid #334155;
    border-radius:10px;
    color:white;
    font-size:16px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#00d4ff;
    color:black;
    font-weight:bold;
    cursor:pointer;
    margin-right:10px;
}

pre{
    margin-top:20px;
    background:black;
    padding:20px;
    border-radius:10px;
    color:#00ff88;
    white-space:pre-wrap;
}